
<div class="main_customer_form_div">
  <p class="main_text">Enter one or more of the following search criterion to select your customer.</p>
  <div class="customer_form">
    <div class="box_style">
      <cds-text-label class="label_style">
        <span class="label_text_style">Customer Name</span></cds-text-label>
      <input cdsText type="text" class="input-user-field name_input_style" placeholder="Enter Customer Name">
    </div>
    <cds-radio-group legend="Customer Name Input Parameter" class="radio_style">
      <cds-radio value="begins_with" [checked]="true">Begins with</cds-radio>
      <cds-radio value="ends_with">Ends with</cds-radio>
      <cds-radio value="contains">Contains</cds-radio>
    </cds-radio-group>

    <div class="box_style">
      <cds-text-label class="label_style">
        <span class="label_text_style">Customer System ID</span></cds-text-label>
      <input cdsText type="text" class="input-user-field id_input_style" placeholder="Enter Customer System ID">
    </div>

    <div class="box_style">
      <cds-text-label class="label_style">
        <span class="label_text_style">Customer Registration Number</span></cds-text-label>
      <input cdsText type="text" class="input-user-field regis_input_style" placeholder="Enter Customer Registration Number">
    </div>

    <div class="box_style">
      <cds-text-label class="label_style">
        <span class="label_text_style">Customer Status</span></cds-text-label>
      <cds-dropdown placeholder="Select Customer Status" class="dropdown_struct">
        <cds-dropdown-list [items]="dropdownItems"></cds-dropdown-list>
      </cds-dropdown>
    </div>

    <div class="box_style">
        <cds-text-label class="label_style">
          <span class="label_text_style">Customer Class</span></cds-text-label>
        <cds-dropdown placeholder="Select Customer Class" class="dropdown_struct">
          <cds-dropdown-list [items]="dropdownItems"></cds-dropdown-list>
        </cds-dropdown>
    </div>

    <div class="box_style">
        <cds-text-label class="label_style">
          <span class="label_text_style">Sales Team</span></cds-text-label>
        <cds-dropdown placeholder="Select Sales Team" class="dropdown_struct">
          <cds-dropdown-list [items]="dropdownItems"></cds-dropdown-list>
        </cds-dropdown>
      </div>

      <div class="box_style">
        <cds-text-label class="label_style">
          <span class="label_text_style">Relationship Owner</span></cds-text-label>
        <cds-dropdown placeholder="Select Relationship Owner" class="dropdown_struct">
          <cds-dropdown-list [items]="dropdownItems"></cds-dropdown-list>
        </cds-dropdown>
      </div>

      <div class="box_style">
        <cds-text-label class="label_style">
          <span class="label_text_style">Legal Entity</span></cds-text-label>
        <cds-dropdown placeholder="Select Legal Entity" class="dropdown_struct">
          <cds-dropdown-list [items]="dropdownItems"></cds-dropdown-list>
        </cds-dropdown>
      </div>
      <div class="button-group">
        <button cdsButton class="normal_button_style" > Reset Form </button>
        <button cdsButton class="normal_button_style" > Cancel <svg class="cross_icon" cdsIcon="close" size="16"></svg> </button>
        <button cdsButton size='lg' class="search_button_style" (click)="submitSearch()"> Search </button>
    </div>
  </div>
</div>
