<app-header></app-header>
<div class="secondaryHeader">
    <cds-breadcrumb [noTrailingSlash]="true">
        <cds-breadcrumb-item href="/dashboard">HomePage</cds-breadcrumb-item>

        <cds-breadcrumb-item [current]="true" href="#2">CustomerSearch</cds-breadcrumb-item>
    </cds-breadcrumb>
</div>
<div class="searchBanner">
   <p class="bannerText">CustomerSearch</p>
</div>
<div *ngIf="!searchSuccess">
    <app-customer-search-form (dataEvent)="handleDataFromChild($event)"></app-customer-search-form>
   
</div>
<div *ngIf="searchSuccess">
   <app-customer-serach-result></app-customer-serach-result>
   
</div>
<app-footer></app-footer>