.Login {
    background: white;
   // height: 15rem;
    border-radius: 1rem;
    position: relative;
   //width: 684px;
  // height: 570px;
    //padding: 76px 50px;
    padding: 76px 50px;
    box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-top: 40px;

    & .login-head {
        color: #3176B1;
        margin-bottom: 70px;
        font-family: "IBM Plex Sans";
        font-size: 40px;
        font-weight: 600;
        font-style: normal;
    }

    & .password_style {
        margin-top: 50px;
    }

    & .button-group {
        display: flex;
        margin-top: 70px;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    & .login_button {
        width: 40%;
        background-color: #3176B1;
    }
}

.alignItems {
    margin-top: 0px;
}

.BarclaysText {
    //height: 15rem;
    //border-radius: 1rem;
    position: relative;
    // width: 684px;
    //height: 570px;
    padding: 76px 50px;
    color: var(--Color_Tirtiary, #3176B1);
    //border-radius: 40px;
    //margin-top: 10%;
    font-family: "IBM Plex Sans" !important;
    font-style: italic;
    line-height: normal;
    margin-bottom: 30px;

    & .boldText {
        font-size: 70px;
        font-weight: 600;
    }

    & .welcomeText {
        font-size: 30px;
        font-weight: 300;
        margin-left: 10px;
    }

    & .dummyText {
        font-size: 20px;
        font-weight: 300;

    }

}

.logo {
    //margin-left: 2.5rem;
    height: 80px;
}
.right_arrow {
    margin-right: -50px;
    fill: white;
  }