<div class="css-grid-story bg-image">
  <div cdsGrid [useCssGrid]="true" [condensed]="true" [narrow]="true" [fullWidth]="true">
    <div cdsCol [columnNumbers]="{'sm': 4, 'md': 8, 'lg': 16}" class="BarclaysText">
      <div cdsGrid [useCssGrid]="true" [condensed]="true" [narrow]="true" [fullWidth]="true">

        <div cdsCol [columnNumbers]="{'sm': 2, 'md': 4, 'lg': 8}" class="BarclaysText">

          <div class="alignItems" cdsCol [columnNumbers]="{'sm': 1, 'md': 2, 'lg': 4}">
            <span class="welcomeText">Welcome to</span>
            <h2 class="boldText">CB 2.0</h2>
          </div>

        </div>

        <div cdsCol [columnNumbers]="{'sm': 2, 'md': 4, 'lg': 8}" class="Login">
          <div class="login-head">
            <b>Log In</b>
            <hr color="#3176B1" />
          </div>
          <cds-text-label>
            Username
            <input cdsText type="text" class="input-user-field" placeholder="Enter Username">
          </cds-text-label>
          <cds-password-label class="password_style">
            Password
            <input cdsPassword type="password" class="input-password-field" placeholder="Enter Password" />
          </cds-password-label>
          <div class="button-group">
            <button cdsButton style="background-color: transparent; color: #3274B1;"> Forgot Password? </button>
            <button cdsButton size='lg' class="login_button" (click)="login()">
              Log In
              <svg class="right_arrow" cdsIcon="arrow--right" size="20"></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="alignItems" cdsCol [columnNumbers]="{'sm': 1, 'md': 2, 'lg': 4}">
        <img src="../../assets/pics/logo.png" alt="barclayslogo" class="logo">
      </div>
    </div>
  </div>
</div>