<app-header> </app-header>
<!-- <div class="css-grid-story">
    <div class="alignSideNav" cdsTheme="white">
        <cds-sidenav [expanded]="false">
            <cds-sidenav-item>
                <svg cdsIcon="settings" size="16"></svg>
                Link
            </cds-sidenav-item>

            <cds-sidenav-menu title="Category title">
                <svg cdsIcon="fade" size="16"></svg>
                <cds-sidenav-item>Link</cds-sidenav-item>
                <cds-sidenav-item>Link</cds-sidenav-item>
                <cds-sidenav-item>Link</cds-sidenav-item>
            </cds-sidenav-menu>
        </cds-sidenav>
    </div>
</div> -->


<div cdsGrid [useCssGrid]="true" [condensed]="true" [narrow]="true" [fullWidth]="true">
    <div cdsCol [columnNumbers]="{'sm': 4, 'md': 8, 'lg': 16}">



        <div class="firstSection">
            <div class="lblname">Welcome</div>
            <h2 class="lblbarclays">Barclays CB 2.0
            </h2>
            <span class="lblbarclayssub"> Simple, Better, More balanced... </span>

            <!-- Carbon Charts Starts -->
            <!-- <div class="frameGrid" cdsGrid [useCssGrid]="true" [condensed]="true" [narrow]="true" [fullWidth]="true">
                <div class="frameBackground" style="padding-right: 10px; margin:12px" cdsCol
                    [columnNumbers]="{'sm': 2, 'md': 4, 'lg':8}">
                    <ibm-simple-bar-chart [data]="data" [options]="options"></ibm-simple-bar-chart>
                </div>
                <div class="frameBackground" style="padding-left: 10px; margin:12px" cdsCol
                    [columnNumbers]="{'sm': 2, 'md': 4, 'lg': 8}">
                    <ibm-stacked-area-chart [data]="data" [options]="options"></ibm-stacked-area-chart>
                </div>
            </div> -->

        </div>



    </div>
    <!-- <ibm-area-chart [data]="data" [options]="options"></ibm-area-chart> -->

    <div class="setserach" cdsCol [columnNumbers]="{
        sm: {span: 1, start: 4},
        md: {span: 2, start: 7},
        lg: {span: 4, start: 13}
    }">
        <cds-search theme="dark" placeholder="Search in CB 2.0" autocomplete="false" [disabled]="false" size="md"
            [expandable]="false"></cds-search>
    </div>

    <!--Below grid lg 16 starting-->
   

    <div class="customerSearchleftGrid" cdsCol [columnNumbers]="{'sm': 4, 'md': 8, 'lg': 16}">

        <div cdsGrid>
            <div cdsCol [columnNumbers]="{sm: 1, md: 2, lg: 4}">
                <div class="zeusBorder">
                    <div class="zeusAlign">
                        <div class="zeusfunlabel">
                            <span> CB 2.0 </span>
                            <span> Functionalities </span>
                        </div>
                    </div>
                </div>
                <div class="zeuslabel">
                    <!-- Select any of the functionalities to explore CB 2.0. -->
                </div>
            </div>
            <div class="customerSearchRightGrid" cdsCol [columnNumbers]="{sm: 3, md: 6, lg: 12}">
                <div class="selectfunction">
                    Select Function</div>
                <div class="selFunBorder"></div>
                <div cdsGrid [useCssGrid]="true" [condensed]="true" [narrow]="true" [fullWidth]="true">

                    <div class="custdiv1" cdsCol [columnNumbers]="{sm: 4}">

                        <div cdsRow (click)="customerSearch()">
                            <div cdsCol class="custom-class-example">
                                <div class="inside">
                                    <svg class="custom-icon" cdsIcon="information" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="pin--filled" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="draggable" size="20"></svg>
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside1">
                                    <img src="../../assets/pics/search.png" alt="search" />
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside2">
                                    <div
                                        style="color: #14395A; font-size: 20px; font-family: IBM Plex Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">
                                        Customer Search</div>
                                    <svg class="right_arrow" cdsIcon="arrow--right" size="20"></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custdiv1" cdsCol [columnNumbers]="{sm: 4}">
                        <div cdsRow (click)="goToInbox()">
                            <div cdsCol class="custom-class-example">
                                <div class="inside">
                                    <svg class="custom-icon" cdsIcon="information" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="pin--filled" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="draggable" size="20"></svg>
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside1">
                                    <img src="../../assets/pics/Mail--all (1).png" alt="mail" />
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside2">
                                    <div
                                        style="color: #14395A; font-size: 20px; font-family: IBM Plex Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">
                                        Inbox</div>
                                    <svg class="right_arrow" cdsIcon="arrow--right" size="20"></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custdiv1" cdsCol [columnNumbers]="{sm: 4}">
                        <div cdsRow (click)="goTolimit()">
                            <div cdsCol class="custom-class-example">
                                <div class="inside">
                                    <svg class="custom-icon" cdsIcon="information" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="pin--filled" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="draggable" size="20"></svg>
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside1">
                                    <img src="../../assets/pics/Piggy-bank.png" alt="piggy" />
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside2">
                                    <div
                                        style="color: #14395A; font-size: 20px; font-family: IBM Plex Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">
                                        Limit Management</div>
                                    <svg class="right_arrow" cdsIcon="arrow--right" size="20"></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custdiv1" cdsCol [columnNumbers]="{sm: 4}">
                        <div cdsRow (click)="goToDairy()">
                            <div cdsCol class="custom-class-example">
                                <div class="inside">
                                    <svg class="custom-icon" cdsIcon="information" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="pin--filled" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="draggable" size="20"></svg>
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside1">
                                    <img src="../../assets/pics/Cloud--monitoring.png" alt="mnc" />
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside2">
                                    <div
                                        style="color: #14395A; font-size: 20px; font-family: IBM Plex Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">
                                        M&C Diary</div>
                                    <svg class="right_arrow" cdsIcon="arrow--right" size="20"></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custdiv1" cdsCol [columnNumbers]="{sm: 4}">
                        <div cdsRow (click)="goToPortfolio()">
                            <div cdsCol class="custom-class-example">
                                <div class="inside">
                                    <svg class="custom-icon" cdsIcon="information" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="pin--filled" size="20"></svg>
                                    <svg class="custom-icon" cdsIcon="draggable" size="20"></svg>
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside1">

                                    <img src="../../assets/pics/Report.png" alt="report" />
                                </div>
                            </div>
                            <div cdsCol class="custom-class-example">
                                <div class="inside2">
                                    <div
                                        style="color: #14395A; font-size: 20px; font-family: IBM Plex Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">
                                        Portfolio Reports</div>
                                    <svg class="right_arrow" cdsIcon="arrow--right" size="20"></svg>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<app-footer> </app-footer>