.css-grid-story {
   // height: 600px;
    margin-top: 24px;
    margin-left: 16px;
}

.lblname {
    //width: 100%;
    //font-size: 28px;
    font-size: 22px;
    font-family: IBM Plex Sans !important;
    font-weight: 400;
    line-height: 66px;
    word-wrap: break-word;
    padding-left: 20px;
    padding-top: 5px;
    color: white;
}

.lblbarclays {
    //font-size: 54px;
    font-size: 36px;
    font-family: IBM Plex Sans !important;
    font-weight: 300;
    line-height: 32px;
    word-wrap: break-word;
    padding-left: 20px;
    color: white;
}

.lblbarclayssub {
    font-size: 14px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    padding-left: 20px;
    color: white;
}

.colsection1 {
    background: white;
    height: 10rem;
    position: relative;
    padding: 16px;
    margin-right: 10px;
    margin-left: 25px;
}

.colsection2 {
    background: white;
    height: 10rem;
    position: relative;
    padding: 16px;
    margin-right: 25px;
}

.colsection3 {
    background: white;
    height: 15rem;
    position: relative;
    padding: 16px;
    margin-right: 10px;
    margin-left: 25px;
    //border:1px solid grey;
}

.colsection4 {
    background: white;
    height: 15rem;
    position: relative;
    padding: 16px;
    //margin-right: 25px;
    //border:1px solid grey;
}

.setfirstSection {
    padding-left: 0px;
    margin: 0px;
}

.setserach {
    width: 15%;
    float: inline-end;
    margin-top: 5px;
}

.customerSearchleftGrid {
    margin-top: 5px;
}

.customerSearchRightGrid {
 background: #F4F4F4; 
 border-radius: 20px;
 height: 100%;
}

.custdiv1 {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.inside {
    float: inline-end;
}

.inside1 {
    padding: 15px;
}

.inside2 {
    display: flex;
    justify-content: space-between;
}

.alignSideNav {
    padding: 0px;
}

.frame1 {
    //border: 1px solid grey; 
    padding: 5px;
    background-image: url('../../assets/pics/Frame.png');
}

.frame2 {
    //border: 1px solid grey; 
    padding: 5px;
    background-image: url('../../assets/pics/Frame2.png');
}