.css-grid-story {
    // height: 600px;
    margin-top: 24px;
    margin-left: 16px;
}

.lblname {
    //width: 100%;
    //font-size: 28px;
    font-size: 20px;
    font-family: IBM Plex Sans !important;
    font-weight: 400;
   // line-height: 66px;
    word-wrap: break-word;
    padding-left: 37px;
    padding-top: 5px;
    color: white;
}

.lblbarclays {
    //font-size: 54px;
    font-size: 30px;
    font-family: IBM Plex Sans !important;
    font-weight: 300;
    line-height: 32px;
    word-wrap: break-word;
    padding-left: 37px;
    color: white;
}

.lblbarclayssub {
    font-size: 12px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    padding-left: 38px;
    color: white;
}

.colsection1 {
    background: white;
    height: 10rem;
    position: relative;
    padding: 16px;
    margin-right: 10px;
    margin-left: 25px;
}

.colsection2 {
    background: white;
    height: 10rem;
    position: relative;
    padding: 16px;
    margin-right: 25px;
}

.colsection3 {
    background: white;
    // height: 15rem;
    position: relative;
    padding: 16px;
    margin-right: 10px;
    margin-left: 25px;
    //border:1px solid grey;
}

.colsection4 {
    background: white;
    // height: 15rem;
    position: relative;
    //  padding: 16px;
    //margin-right: 25px;
    //border:1px solid grey;
}

.zeusAlign {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin-left: 8px;
}

.setfirstSection {
    padding-left: 0px;
    margin: 0px;
}

.setserach {
    float: inline-end;
    margin-top: 5px;
}

.zeusfunlabel {
    width: 394px;
    display: flex;
    flex-direction: column;
    color: #14395A;
    font-size: 3vw;
    font-family: IBM Plex Sans;
    font-weight: 300;
    line-height: 62px;
    word-wrap: break-word;
}

.selectfunction {
    width: 100%;
    color: #14395A;
    font-size: 28px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 36px;
    word-wrap: "break-word"
}

.selFunBorder {
    border-top: 0.50px #3274B1 solid;
}

.zeuslabel {
    margin-top: 15px;
    margin-left: 32px;
    color: #14395A;
    font-size: 20px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 28px;
}

.zeusBorder {
    border-left: 5px solid #4CADE9;
    margin-left: 32px;
}

.customerSearchleftGrid {
    margin-top: 15px;
}

.customerSearchRightGrid {
    background: #F4F4F4;
    border-radius: 20px;
    padding: 2%;
    // margin-left: 40%;
    // height: 100%;
}

.custdiv1 {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
}

.custdiv1:hover {
    cursor: pointer;
    // background-color: grey;
    border-color: #3176B1;
}

.inside {
    float: inline-end;
}

.inside1 {
    padding: 15px;
    color: #3176B1;
}

.inside2 {
    display: flex;
    justify-content: space-between;
}

.alignSideNav {
    //  padding: 0px;
}

.frame1 {
    background-repeat: no-repeat;
    padding: 5px;
    background-image: url('../../assets/pics/Frame.png');
}

.frame2 {
    background-repeat: no-repeat;
    padding: 5px;
    background-image: url('../../assets/pics/Frame2.png');
}

.cds--side-nav__navigation {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 50px;
}

.custom-icon {
    fill: #14395A;
    margin: 2px;
}

.right_arrow {
    fill: #3176B1;
    margin-right: 11px;
}

