p {
    padding: 20px;
    
}

.css-grid-story {
    height: 600px;
    margin-top: 50px;   
   // width: 100%;
}

.lblname {
    //width: 100%;
    //font-size: 28px;
    font-size: 22px;
    font-family: IBM Plex Sans !important;
    font-weight: 400;
    line-height: 66px;
    word-wrap: break-word
}

.lblbarclays {
    //font-size: 54px;
    font-size: 36px;
    font-family: IBM Plex Sans !important;
    font-weight: 300;
    line-height: 32px;
    word-wrap: break-word
}

.lblbarclayssub {
    font-size: 14px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word
}

.colsection{
background: white;
height: 10rem;
position: relative;
//width: 684px;
//height: 570px;
padding: 16px;
}  