/* You can add global styles to this file, and also import other style files */
@use "@carbon/styles";
*{
    font-family: "IBM Plex Sans" !important;
}
.bg-image{
    background-image: url('./assets/pics/BG_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hedaer-icon{
    background-image: url('./assets/pics/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    max-width: 92px;
}