/* You can add global styles to this file, and also import other style files */
@use "@carbon/styles";
*{
    font-family: "IBM Plex Sans" !important;
}
.bg-image{
    background-image: url('./assets/pics/BG_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   // height: 100vh;
}
.hedaer-icon{
    background-image: url('./assets/pics/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    max-width: 92px;
}

.firstSection {  
    //width: 100%;
    background-image: url('./assets/pics/BG_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    //height: 50%;
   // height: 325px;
    margin-top: 24px;  
    height:87px;
   //margin-left:46px; 
}
// .cds--header__name {
//     a{
//         color: white !important;
//     }
    
// }

.cds--header__name--prefix {
    //color: rgb(0, 0, 0) !important;
    display: none;
}